@{
    ViewBag.Title = "Nordstrom Store Locator";
}

<h3>@ViewBag.Message</h3>


 <!DOCTYPE html>
<html>
     <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#" >
  <meta property="fb:app_id"      content="198552693558851" /> 
  <meta property="og:type"        content="profile" /> 
  <meta property="og:url"         content="http://localhost/" /> 
  <meta property="og:title"       content="AboutMe JSON from Facebook" /> 
  <meta property="og:description" content="AboutMe JSON from Facebook" /> 
  <meta property="og:image"       content="http://ogp.me/logo.png" />
      <title>Nordstrom Store Locator</title>
      <h5>using Facebook authentication referral</h5>
      <br />
      <br />
    </head>
    <body>
      <div id="fb-root"></div>
      <script type="text/javascript" language="javascript">
          function replacer(key, value) {
              if (typeof value === 'number' && !isFinite(value)) {
                  return String(value);
              }
              return value;
          }
          window.fbAsyncInit = function () {
              FB.init({
                  appId: '198552693558851',
                  channelURL: 'http://localhost',
                  status: true,
                  cookie: true,
                  xfbml: true,
                  oauth: true
              });
              FB.Event.subscribe('auth.login', function () {
                  top.location = window.location = "http://www.facebook.com/dialog/oauth/?scope=user_about_me&client_id=198552693558851&redirect_uri=http://localhost:50713/Home/Access&response_type=code";
              });

          };
          (function (d) {
              var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
              js = d.createElement('script'); js.id = id; js.async = true;
              js.src = "//connect.facebook.net/en_US/all.js";
              d.getElementsByTagName('head')[0].appendChild(js);
          } (document));
      </script>
      <div class="fb-login-button" scope="user_about_me"  autologoutlink="true" >
        Login with Facebook
      </div>
<br/>
      <div id="user-info"></div>
<br />
<br />
<p>This is an application to locate a Nordstrom store near you. Clicking on this login button, will request read permissions for the checkin you post on Facebook. This helps to determine your location. Thank you.</p>
<br />
<br />
<br />
<br />
    </body>
 </html>