@{
    ViewBag.Title = "Bellevue from Zillow";
}

<h3>@ViewBag.Message</h3>


 <!DOCTYPE html>
<html>
     <head >
      <title>Zillow Locator</title>
      <h5>using Zillow API for zip code based lookup</h5>
      <br />
      <br />
    </head>
    <body>
      <div id="result"></div>
      <script type="text/javascript" language="javascript">

$("locator").click(function(){
 var api = "http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1blqqdntn2j_59mre&address=Bellevue+downtown+park&citystatezip=Bellevue%2C+WA"
   $("result").load(api);
 }); 

<FORM>
<INPUT id="locator" TYPE="button" VALUE="Locate homes in Bellevue">
<div />
</FORM>
    </body>
 </html>