@{
    
}
 <!DOCTYPE html>
<html>
     <head >
      <title>Zillow lookup of my home</title>
    </head>
    <body>
      <div id="result"></div>
    <form action="zillow">
    <input id="locator" type="button" value="Use Zillow API to look up my home" onclick="show()">
    <div />
    </form>
      <script type="text/javascript" language="javascript">
          function show() {
              var api2 = "http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1blqqdntn2j_59mre&address=17803+NE+34th+st&citystatezip=Redmond%2C+WA+98052"
              window.open(api2);
          }
</script>

    </body>
 </html>